<main>
  <div class="container px-5 px-sm-0">
    <div class="row">
        <%= render 'list', book:@books %>
        <div class="col-md-8 offset-md-1">
          <h2>Book detail</h2>
          <table class="table">
            <tbody>
              <tr>
                <td>
                <% if @user.image.attached? %>
                  <%= image_tag @user.image, size: "40x40" %>
                <% else %>
                  <%= image_tag 'no_image', size: "40x40" %>
                <% end %><br>
                </td>
                <td><%= link_to @book.title %></td>
                <td><%= @book.body %></td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
  </div>
</main>
